.form-group {
  margin-bottom: 16%;
  padding: 0 7% 0 7%;
}
.form-group label,
.form-group1 label {
  margin-bottom: 1%;
}
.form-group1 {
  margin-bottom: 3%;
  padding: 0 3% 0 3%;
}
.btn-search {
  background-color: tomato !important;
}
.signup-btn {
  display: flex !important;
  justify-content: space-between;
  margin-bottom: 3%;
  margin-top: 3%;
  padding: 0 3% 0 3%;
}
.signup-btn p {
  color: grey;
}
.top-header .container {
  padding: 0px !important;
}
a {
  text-decoration: none !important;
  color: gray;
}

.nav-breadcrumb .breadcrumb li::before {
    color: #fff;
}
/* header  */
.top-header  {
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1) !important;
}
.dropdown-toggle {
  border: none !important;
  outline: none !important;
}
.dropdown-toggle:hover,
.dropdown-toggle:focus {
  border: none !important;
  outline: none !important;
  background-color: transparent;
}

.dropdown-menu {
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
  display: block;
  visibility: hidden;
  pointer-events: none;
}

.dropdown-menu.show {
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
  pointer-events: auto;
}
.btn {
    border: none !important;
    outline: none !important;
}
.btn:hover, 
.btn:hover {
    border: none !important;
    outline: none !important;
}
input:focus {
    outline: none !important;
    box-shadow: none !important;
}
.search-box {
    width: 55%;
}
.search-box form {
    padding-block: 0px !important;
}